<div class="nav-name-section">
  <div>
    <span>Hello, <%= user.userName %>!</span>
    <span class="img-profile">
      <img alt="ser icons created by Becris - Flaticon" src="assets/userProfile.png" width="auto" height="35px">
    </span>
  </div>
  <div class="nav-wrapper nav-hide">
    <nav class="nav">
      <div class="nav-item nav-item-border"><a class="nav-link" href="#">Profile</a></div>
      <div class="nav-item nav-item-border"><a class="nav-link" href="/flix">Watchlist</a></div>
      <div class="nav-item"><a class="nav-link" href="/logout">Log Out</a></div>
    </nav>
  </div>
</div>
<script src="js/menu.js"></script>