<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="Enter Your User Name">
        <input type="email" name="email" placeholder="Enter Your Email">
        <input type="password" name="password" placeholder="Create Your Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Your Password">
        <input type="submit">
    </form>
    <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="First Name">
        <input type="date" name="date" placeholder="Date Of Birth">
        <input type="text" name="location" placeholder="Location">
        <input type="text" name="about" placeholder="Tell us about yourself...">
        <input type="submit" name="finishSignUp" placeholder="Finish Sign Up">
    </form>
</body>
</html>